@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #3583aa;
  text-decoration: none;
}

a:visited {
  color: #788d98;
}

a:hover {
  text-decoration: underline;
}

header {
  width: 960px;
  height: 100px;
  margin: 0 auto;
}

.logo {
  margin-top: 60px;
}

.content {
  width: 960px;
  margin: 0 auto;
}

#index h1 {
  font-size: 100px;
  line-height: 1;
  color: #ffffff;
  font-family: fantasy;
  margin-bottom: 50px;
  border: none;
}

#index .content {
  margin-top: 150px;
}

#index p {
  font-size: 16px;
  color: cyan;
}

#index {
  background-color: #c0c0c0;
}

#osika {
  background-image: url(https://github.com/komoridesu5/ssg-bbc/blob/master/photo-bg.JPG?raw=true);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
}

#wrap {
  clear: both;
  background-color: #ffffff;
  margin-top: 220px;
  padding: 35px 0;
}

.main-center {
  width: 940px;
  margin: 0 auto;
}

h1 {
  font-family: 'Bitter', serif;
  font-size: 36px;
  border-bottom: solid #cccccc;
}

h2 {
  font-family: 'Bitter', serif;
  font-size: 24px;
}

.icon:before {
  content: "";
  padding-right: 10px;
  border-left: 7px solid #9cd4a4;
}

.icon2:before {
  content: "";
  padding-right: 10px;
  border-left: 7px solid #9cd4a4;
}

.icon2 {
  padding-top: 45px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

#index #wrap {
  background-color: transparent;
  margin-top: 0;
  padding: 0;
}

.main {
  width: 700px;
  margin: 0 10px;
  float: left;
}

.sidebar {
  width: 215px;
  margin: 0 10px 0 15px;
  float: right;
  font-family: serif;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar ul {
  font-size: 15px;
  margin-left: 10px;
}

.sidebar ul a {
  color: #333333;
}

#osika h2 {
  margin: 30px 0 5px 0;
}

footer {
  text-align: center;
}

#osika .list  {
  margin-left: 50px;
  font-size: 16px;
}

#osika .list li:nth-child(n + 2)  {
  padding-top: 30px;
}

#osika p span {
  padding-left: 50px;
  font-size: 16px;
}

.far  {
  margin-right: 5px;
}

.fas  {
  margin-right: 5px;
  color: orange
}


@media screen and (max-width: 600px) { 
  body {
    font-size: 3.5vw;
  }
  
  h1 {
    font-size: 7.2vw;
    padding-left: 10px;
  }
  
  h2 {
    font-size:6vw
  }
  
  header {
    width: auto;
    margin: 0 5%;
  }
  
  .logo {
    float: none;
    margin-top: 60px;
    text-align: center;
  }
  
  #wrap {
    margin-top: 40px;
    padding: 35px 0 0;
  }
  
  .content {
    width: 100%;
  }
  
  .main {
    float: none;
    width: auto;
    margin: 0 5%;
  }
  
  .sidebar {
    width: auto;
    float: none;
    margin: 0;
    padding:  30px 10% 10px;
    background-color: #f7f6f4;
  }  
  
  #index h1 {
    font-size: 18vw;
  }
  
  .logo img {
    width: 100%;
  }
  
  input {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1024px) { 
  body {
    font-size: 3.5vw;
  }
  
  h1 {
    font-size: 7.2vw;
    padding-left: 25px;
  }
  
  h2 {
    font-size:6vw
  }
  
  header {
    width: auto;
    margin: 0 5%;
  }
  
  .log {
    float: none;
    margin-top: 60px;
    text-align: center;
  }
  
  #wrap {
    margin-top: 40px;
    padding: 35px 0 0;
  }
  
  .content {
    width: 100%;
  }
  
  .main {
    float: none;
    width: auto;
    margin: 0 5%;
  }
  
  .sidebar {
    width: auto;
    float: none;
    margin: 0;
    padding:  30px 10% 10px;
    background-color: #f7f6f4;
  }  
  
  #index h1 {
    font-size: 18vw;
  }
  
  .logo img {
    width: 100%;
  }
  
  input {
    margin-left: 25px;
  }
}


input {
  width: 150px;
  height: 50px;
  font-size: 30px;
  background-image: linear-gradient(0deg, #a7d9f5, #eaf6fd);
  border: 1px solid #3c7fb1; 
  border-radius: 0.3em;      
}

input:hover {
   background-image: linear-gradient(0deg, #68d3db, #e5f4fc);
   border: 1px solid #2c628b;
}

input:active {
   background-image: linear-gradient(180deg, #68d3db, #e5f4fc);
   border: 1px solid skyblue;
}

#osika footer {
  background-color: #ffffff;
}
