@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #333333;
  font-size: 15px;
  line-height: 2;
}

p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #3583aa;
  text-decoration: none;
}

a:visited {
  color: #788d98;
}

a:hover {
  text-decoration: underline;
}

header {
  width: 960px;
  height: 100px;
  margin: 0 auto;
}

#index h1 {
  line-height: 1;
  font-family: fantasy;
  margin-bottom: 50px;
  border: none;
}

h1 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 48px;
  border-bottom: solid #cccccc;
  padding-left: 30px;
}

h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 36px;
  margin-left: 60px;
  margin-bottom: 10px;
}

li {
  margin-left: 100px;
  font-size: 18px;
  list-style: none;
}

p {
  margin-left: 100px;
  font-size: 18px;
}

.icon:before {
  content: "";
  padding-right: 10px;
  border-left: 7px solid #ffc184;
}

.icon2:before {
  content: "";
  padding-right: 10px;
  border-left: 7px solid #84c1ff;
}

.icon2 {
  padding-top: 45px;
  
}

.icon3:before {
  content: "";
  padding-right: 10px;
  border-left: 7px solid #af0082;
}

.icon3 {
  padding-top: 45px;
  
}

